@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

.main {
    background: linear-gradient(89deg, rgb(61, 77, 76) 0%, rgb(26, 34, 36) 53%);
    display: flex;
}

/* start sidebar */

.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-basis: 6rem;
    padding: 1.5rem 0;
    background-color: rgba(175, 174, 204, 0.1);
}

.sidebar_top .logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar_top .logo img {
    width: 50px;
}

.logo .logo_title {
    font-family: 'Lobster';
    color: #fff;
}

.sidebar .sidebar_top .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    margin-top: 3rem;
}

.sidebar_bottom .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar_bottom .profile img {
    cursor: pointer;
    width: 50px;
    border-radius: 50%;
    margin-bottom: 2rem;
}

.sidebar_top .menu i {
    margin-bottom: 2rem;
    cursor: pointer;
    color: #e2e5de;
    font-size: 1.3rem;
    transition: 0.2s;
}

.sidebar_top .menu i:hover {
    color: #61c6d9;
}

.sidebar_bottom .profile i {
    cursor: pointer;
    color: #e2e5de;
    font-size: 1.3rem;
}

.sidebar_bottom .profile i:hover {
    color: #61c6d9;
}

/* finish sidebar */


/* start content */

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 70%;
    padding: 1.5rem 4rem;
}

/* start search box */

.content .search_box {
    display: flex;
    align-items: center;
}

.search_box .form {
    position: relative;
    width: 300px;
    margin: 0 1rem;
}

.form #search {
    width: 100%;
    padding: 10px;
    text-indent: 40px;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    border-radius: 12px;
    background-color: transparent;
    border: 1px solid #aaaaaa;
    outline: none;
    color: #fff;
}

input#search::placeholder {
    color: #aaaaaa;
}


.search_box .form .search_icon {
    position: absolute;
    left: 20px;
    top: 10px;
}

.search_box i {
    cursor: pointer;
    color: #aaaaaa;
    font-size: 1.1rem;
}

/* start main image */

.content .main_image {
    /* width: 100%; */
    /* height: 400px; */
    padding: 2.5rem;
    background-image: url('../4361133.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 1rem;
    margin: 2rem 0;
}
.main_image h2, .main_image h3 {
    color: #fff;
}

.main_image h1 {
    font-size: 4rem;
    color: #18ad99;
}

.main_image .history {
    margin: 2rem 0 1rem 0;
    color: #fff;
}

.history span {
    margin: 0 0.5rem;
}

.main_image .buttons {
    padding: 1rem 0;
}

.buttons a {
    /* display: inline-block; */
    position: relative;
    color: #fff;
    border: 1px solid #fff;
    margin-right: 1rem;
    border-radius: 10px;
    text-decoration: none;
    transition: all 0.2s;
    background: transparent;
    overflow: hidden;
}

.buttons .view {
    padding: 0.7rem 2rem;
}

.buttons .follow {
    padding: 0.7rem 1.2rem;
}

.buttons a:hover {
    background-color: #61c6d9;
}

/* start week album */

.content .week_album {
    color: #fff;
}

.week_album h2 {
    margin-bottom: 1rem;
}

.content .week_album .albums {
    display: flex;
}

.week_album .albums .single_album {
    margin-right: 1.5rem;
    flex-basis: 20%;
    min-width: 0;
}

.single_album .image_album {
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
}

.image_album img {
    width: 100%;
    vertical-align: bottom;
}

.single_album h3 {
    margin-top: 0.5rem;
}

.single_album p {
    font-size: 0.8rem;
}

.albums .next_album {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 50px;
    background: rgba( 255, 255, 255, 0.1 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 9.5px );
    -webkit-backdrop-filter: blur( 9.5px );
    border-radius: 5px;
    color: #aaaaaa;
    font-size: 1.3rem;
    cursor: pointer;
}

/* start popular tracks */

.content .pop_tracks {
    margin-top: 2rem;
}

.pop_tracks .title_tracks {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

.pop_tracks .part_tracks {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    color: #aaaaaa;
}

.part_tracks .popsong_info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-basis: 50%;
}

.popsong_info .popsong_name {
    display: flex;
    align-items: center;
    flex-basis: 60%;
}

.popsong_info .popsinger_name {
    flex-basis: 40%;
    text-align: right;
}

.popsong_name > p {
    color: #fff;
    flex-basis: 50%;
    margin-left: 10px;
}

.popsong_name .song_number {
    font-size: 1.2rem;
    flex-basis: 1.5rem;
    flex-shrink: 0;
}

.popsong_name .track_image {
    flex-basis: 80px;
    flex-shrink: 0;
    overflow: hidden;
    border-radius: 10px;
    margin-left: 10px;
}

.popsong_name img {
    width: 100%;
    vertical-align: bottom;
}

.part_tracks .popsong_user {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-basis: 50%;
}

.popsong_user > div {
    margin-left: 1.8rem;
}

.popsong_user i {
    cursor: pointer;
}

.popsong_user .circle-play {
    font-size: 2rem;
}

/* start the right part of the website */

.guide {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 30%;
    padding: 1.5rem;
}

.info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sett_notif {
    display: flex;
}

.info .sett_notif > div {
    margin-right: 1.5rem;
}

.info .signup {
    cursor: pointer;
    background: transparent;
    border: 1px solid #fff;
    font-family: 'Poppins';
    font-size: 1rem;
    color: #fff;
    padding: 0.7rem 2.5rem;
    border-radius: 10px;
    transition: 0.2s;
}

.signup:hover {
    background: #61c6d9;
}

.info i {
    font-size: 1.3rem;
    color: #aaaaaa;
    cursor: pointer;
    transition: all 0.2s;
}

.info i:hover {
    color: #61c6d9;
}

.info .notif {
    position: relative;
}

.notif span {
    position: absolute;
    right: -5px;
    top: -5px;
    width: 13px;
    height: 13px;
    background-color: rgb(29, 25, 125);
    color: #aaaaaa;
    font-size: 0.6rem;
    border-radius: 50%;
    text-align: center;
    line-height: 13px;
}

/* start trend part */

.trend {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 2rem 0;
}

.trend .trend_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.trend_title h2 {
    color: #fff;
}

.trend_title span {
    color: #aaaaaa;
    text-align: right;
}

.trend .artist {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}

.artist .artist_picture {
    display: flex;
    align-items: flex-end;
}

.artist_picture .artist_info p:last-child {
    font-size: 12px;
}

.artist .artist_number span:last-child {
    color: #aaaaaa;
}

.artist .artist_number .circle {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #2e8b57;
}

.trend :nth-child(n+4) .artist_number .circle {
    background-color: #dc143c;
}

.trend .artist .artist_picture img {
    width: 70px;
    border-radius: 50%;
    margin-right: 1rem;
}

.artist .artist_info p:last-child {
    color: #aaaaaa;
}

.artist .artist_info p:first-child {
    color: #fff;
}

/* start genres */

.genres h2 {
    color: #fff;
    margin-bottom: 1rem;
}

.genres_box {
    display: flex;
    flex-wrap: wrap;
}

.genres span {
    cursor: pointer;
    display: inline-block;
    color: #aaaaaa;
    border: 1px solid #aaaaaa;
    border-radius: 1rem;
    padding: 5px 18px;
    margin: 8px 8px 0 0;
    font-size: 16px;
    transition: 0.2s;
}
.genres span:hover {
    background-color: #18ad99;
    border: none;
    color: #fff;
}

/* start music player */

.now_playing {
    margin-top: 2rem;
}

.now_playing .now_playing_title {
    color: #fff;
    margin-bottom: 1rem;
}

.music_player {
    /* width: 100%; */
    padding: 2rem 3rem;
    border-radius: 1rem;
    text-align: center;
    background-color: rgba( 255, 255, 255, 0.1 );
}

.music_player i {
    cursor: pointer;
}

.music_player .music_cover {
    max-width: 150px;
    border-radius: 1rem;
    overflow: hidden;
    margin: 0 auto;
}

.music_cover img {
    width: 100%;
    vertical-align: bottom;
}

.music_info {
    margin: 1rem 0;
}

.music_info .music_name {
    text-align: left;
    color: #fff;
}

.music_info .music_singer {
    display: flex;
    justify-content: space-between;
    margin: 0.5rem 0 1rem 0;
    color: #aaaaaa;
}

.music_singer .like_download i {
    margin-left: 0.5rem;
    transition: all 0.2s;
}

.like_download i:hover {
    color: #61c6d9;
}

.like_download .like_button:hover {
    color: #da3135;
}

.music_main .progress_tape {
    position: relative;
    height: 3px;
    border-radius: 1rem;
    background-color: #aaaaaa;
}

.progress_tape .circle_tape {
    display: inline-block;
    position: absolute;
    top: -5px;
    left: 60%;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 2px solid #fff;
    background-color: #61c6d9;
}

.progress_tape .main_progress {
    position: absolute;
    width: 60%;
    height: 100%;
    background-color: #18ad99;
    top: 0;
    left: 0;
    border-radius: 1rem 0 0 1rem;
}

.music_main .music_time {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.5rem;
    color: #aaaaaa;
}

.music_main .music_control  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    color: #aaaaaa;
}

.music_control i {
    transition: all 0.2s;
}

.music_control i:hover {
    color: #61c6d9;
}

.music_control i.pause {
    font-size: 2.5rem;
}


/* Project Responsive */

@media only screen and (max-width: 1200px) {

}

@media only screen and (max-width: 992px) {
    
    .next_album {
        display: none;
    }

    .albums {
        flex-wrap: wrap;
    }

}

@media only screen and (max-width: 768px) {
    
}

@media only screen and (max-width: 576px) {
    
}