@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

.main {
    background-image: linear-gradient(89deg, rgb(61, 77, 76) 0%, rgb(26, 34, 36) 53%);
    /* height: 100vh; */
    display: flex;
    /* width: 100%; */
}

.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 10%;
    padding: 1.5rem 0 2.5rem 0;
    background-color: rgba(175, 174, 204, 0.1);
}

.logo {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo img {
    width: 50px;
}

.logo .logo_title {
    font-family: 'Lobster';
    color: #fff;
}

.sidebar .sidebar_first .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 1rem; */
    list-style-type: none;
    margin: 2rem 0;
}

.sidebar .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
}

.sidebar .profile img {
    cursor: pointer;
    width: 50px;
    border-radius: 50%;
    margin: 2rem 0;
}

.sidebar .menu li {
    margin: 1rem 0;
    cursor: pointer;
}

.sidebar .menu li:hover i {
    color: #61c6d9;
}

.sidebar .menu i {
    color: #e2e5de;
    font-size: 1.3rem;
    transition: 0.2s;
}

/* .sidebar .menu .house {
    color: #61c6d9;
} */

.sidebar .profile i {
    cursor: pointer;
    color: #e2e5de;
    font-size: 1.3rem;
}

.content {
    width: 60%;
    margin: 0 4rem;
    padding: 1.5rem 0;
}

.content .main_image {
    width: 100%;
    height: 400px;
    background-image: url('../4361133.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 1rem;
}

.content .week_album {
    color: #fff;
    margin-top: 2rem;
}

.week_album h2 {
    margin-bottom: 1rem;
}

.content .week_album .albums .single_album {
    margin-right: 1.5rem;
}

.single_album .image_album {
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 10px;
}

.single_album h3 {
    margin-top: 0.5rem;
}

.single_album .image_album img {
    width: 150px;
}

.single_album p {
    font-size: 0.8rem;
}

.content .week_album .albums {
    display: flex;
}

.albums .next_album {
    width: 50px;
    height: 150px;
    background: rgba( 255, 255, 255, 0.1 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 9.5px );
    -webkit-backdrop-filter: blur( 9.5px );
    border-radius: 5px;
    color: #aaaaaa;
    font-size: 1.3rem;
    text-align: center;
    line-height: 150px;
    cursor: pointer;
}

.content .pop_tracks {
    margin-top: 2rem;
}

.pop_tracks > div {
    margin: 1rem 0;
}

.pop_tracks .title_tracks {
    display: flex;
    justify-content: space-between;
    color: #fff;
}

.pop_tracks .part_tracks {
    display: flex;
    justify-content: space-between;
    color: #aaaaaa;
}

.pop_tracks .part_tracks .popsong_info {
    display: flex;
    align-items: center;
}

.popsong_info .popsinger_name {
    margin: 0 4rem;
}

.popsong_info .popsong_name {
    display: flex;
    align-items: center;
}

.popsong_name div, .popsong_name p {
    margin: 0 1rem;
}

.popsong_name span {
    font-size: 1.2rem;
}

.popsong_name p {
    color: #fff;
}

.popsong_name div {
    width: 80px;
    height: 80px;
    background-size: cover;
    overflow: hidden;
    border-radius: 1rem;
}

.popsong_name img {
    width: 80px;
}

.part_tracks .popsong_user {
    display: flex;
    align-items: center;
}

.popsong_user i {
    cursor: pointer;
}

.popsong_user div {
    margin: 0 1rem;
}

.popsong_user .circle-play {
    font-size: 2rem;
}

.search_box {
    display: flex;
    align-items: center;
    margin-bottom: 2rem ;
}

.search_box .form {
    position: relative;
    height: 50px;
    width: 300px;
}

.search_box .form .search_icon {
    cursor: pointer;
    position: absolute;
    left: 30px;
    top: 14px;
    z-index: 1;
}

#search {
    padding: 10px 10px 10px 50px;
    margin: 0 1rem;
    position: absolute;
    left: 0;
    top: 0;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    border-radius: 12px;
    width: 300px;
    background-color: transparent;
    border: 1px solid #aaaaaa;
    outline: none;
    color: #fff;
}

::placeholder {
    color: #aaaaaa;
}

.search_box i {
    color: #aaaaaa;
    font-size: 1.1rem;
}

.guide {
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    width: 30%;
    padding: 1.5rem;
}

.info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.info .sett_notif > span {
    margin-right: 1.5rem;
}

.info .signup {
    cursor: pointer;
    border: none;
    background-image: linear-gradient(90deg, #61c6d9, #18ad99);
    font-family: 'Poppins';
    font-size: 1rem;
    color: #fff;
    padding: 10px 36px;
    border-radius: 10px;
    margin-left: 3rem;
}

.info i {
    font-size: 1.3rem;
    color: #aaaaaa;
    cursor: pointer;
}

.info .notif {
    position: relative;
}

.notif span {
    width: 13px;
    height: 13px;
    background-color: rgb(29, 25, 125);
    color: #aaaaaa;
    font-size: 0.6rem;
    border-radius: 50%;
    text-align: center;
    line-height: 13px;
    position: absolute;
    right: -1px;
    top: -5px;
}

.trend {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.trend .trend_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 0 1rem 0;
}

.trend_title h2 {
    color: #fff;
}

.trend_title span {
    color: #aaaaaa;
}

.trend .artist {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    margin: 5px 0;
}

.artist .artist_picture {
    display: flex;
    align-items: flex-end;
}

.artist .artist_picture .artist_info p:last-child {
    font-size: 12px;
}

.artist .artist_number:last-child {
    color: #aaaaaa;
}

.artist .artist_number .circle {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: seagreen;
}

.trend .artist .artist_picture img {
    width: 70px;
    border-radius: 50%;
    margin-right: 1rem;
}

.artist .artist_info :last-child {
    color: #aaaaaa;
}

.artist .artist_info :first-child {
    color: #fff;
}

.genres {
    
}

.genres h2 {
    color: #fff;
    margin: 1rem 0;
}

.genres span {
    cursor: pointer;
    display: inline-block;
    color: #aaaaaa;
    border: 1px solid #aaaaaa;
    border-radius: 1rem;
    padding: 5px 15px;
    margin: 5px 0;
    font-size: 16px;
    transition: 0.2s;
}
.genres span:hover {
    background-color: #18ad99;
    border: none;
    color: #fff;
}


.now_playing {
   /* margin-top: 4rem;  */
}

.now_playing .now_playing_title {
    color: #fff;
    margin: 2rem 0;
}

.music_player {
    width: 100%;
    padding: 2rem 3rem;
    border-radius: 1rem;
    text-align: center;
    background-color: rgba( 255, 255, 255, 0.1 );
}

.music_player i {
    cursor: pointer;
}

.music_player .music_cover img {
    width: 130px;
    border-radius: 1rem;
}

.music_info {
    margin: 1rem 0;
}

.music_info .music_name {
    display: flex;
    justify-content: flex-start;
    color: #fff;
    margin: 0.5rem 0;
}

.music_info .music_singer {
    display: flex;
    justify-content: space-between;
    color: #aaaaaa;
}

.music_singer .like_download i {
    margin-left: 0.5rem;
}

.like_download .like_button {
    transition: 0.2s;
}

.like_download .like_button:hover {
    color: #da3135;
}

.progress_tape {
    height: 3px;
    background-color: #aaaaaa;
    border-radius: 1rem;
    position: relative;
}

.progress_tape .circle_tape {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #61c6d9;
    border: 2px solid #fff;
    position: absolute;
    top: -5px;
    left: 60%;
}

.progress_tape .main_progress {
    width: 60%;
    height: 3px;
    position: absolute;
    background-color: #18ad99;
    top: 0;
    left: 0;
    border-radius: 1rem 0 0 1rem;
}

.music_main .music_time {
    display: flex;
    justify-content: space-between;
    color: #aaaaaa;
    margin: 0.5rem 0 1rem 0;
}

.music_main .music_control  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #aaaaaa;
}

.music_control i.pause {
    font-size: 2.5rem;
    /* border: 3px solid #61c6d9;
    border-radius: 50%; */
}










